autopep8==1.2.1
dj-database-url==0.4.0
Django==1.8
django-autoslug==1.9.3
django-crispy-forms==1.5.2
django-haystack==2.4.1
django-mandrill==0.1.0
django-registration-redux==1.2
docopt==0.4.0
gunicorn==19.4.5
mandrill==1.0.57
pep8==1.7.0
psycopg2==2.6.1
pysolr==3.3.3
python-social-auth==0.2.13
requests==2.9.1
simplejson==3.8.1
static3==0.6.1
wheel==0.24.0
whitenoise==2.0.6
Whoosh==2.7.0
